$very-dark-blue: #07043b;
$desaturated-blue: #575988;
$bright-blue: #2F65F8;
$moderate-cyan: #3c9f8f;
$light-moderate-cyan: #71DFCC;
$light-blue:#6C9BFF;
$gray: #c2c2c2;
$light-gray: #bfbfbf;
$super-light-gray: #c0c0c0;
$light-grayish-blue: #f6f6fe;
$white: #ffffff;

%flex-box {
    display: flex;
    justify-content: space-between;
}


